.body{
    height: 100vh;
    width: 100%;
    background-color: rgb(105, 83, 51);      
}
.navbar-1{
    display: flex;
    height: 80px;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-around;   
}
.rightnav{
    display: flex;
    background-color: white;
    border-radius: 50px;
    align-items: center;
}
.w3{
    font-weight: bolder;
    font-size: x-large;
    margin-right: 200px;
}
.navbar-2{
    display: flex;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
}
.world{
    margin-left: 200px;
}
.bar{
    color: rgb(212, 18, 18);
    height: 25px;
    border-radius: 10px;
    margin-left: 100px;
}
.bar2{
    font-weight: 900;
    font-size: x-large;
}
.bar3{
    background-color: rgb(49, 194, 49);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-weight: bolder;
}
.leftnav2{
    display: flex;
    align-items: center;
}
.main-body{
    background-color: rgb(49, 47, 47);
    color: aliceblue;
    height: 75%;
}
.main-content-1{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 80px;
    height: 200px;    
}
.main-content-2{
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    color: pink;
}
.main-content-3{
    color: blue;
    font-size: xx-large;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 50px;
}
 .main-content-x{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
 }   
.main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;  
}  
    
   


